.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--body-color);
	z-index: var(--z-fixed);
	transition: box-shadow 0.4s;
}

.show-header {
	box-shadow: 0 4px 16px hsl(22, 100%, 8%, 0.1);
}

@media screen and (max-width: 1150px) {
	.nav__menu {
		position: fixed;
		top: -100%;
		left: 0;
		background-color: var(--body-color);
		width: 100%;
		padding-block: 4.5rem 3.5rem;
		box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.2);
		transition: top 0.4s;
	}
}

.nav {
	position: relative;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		font-family: var(--second-font);
		color: var(--color-title);
		img {
			width: 20px;
		}
		.logo {
			background-color: var(--first-color);
			padding: 6px;
			border-radius: 0.5rem;
		}
	}

	&__close,
	&__toggle {
		display: flex;
		font-size: 1.5rem;
		color: var(--title-color);
		cursor: pointer;
	}

	&__list {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__close {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
	}

	&__link {
		position: relative;
		color: var(--color-title);
		font-family: var(--second-font);
		&::after {
			content: '';
			width: 0;
			height: 3px;
			background-color: var(--first-color);
			position: absolute;
			left: 0;
			bottom: -0.5rem;
			transition: width 0.3s;
		}
		&:hover::after {
			width: 60%;
		}
	}
}

.show-menu {
	top: 0;
}

@media screen and (min-width: 1150px) {
	.nav {
		height: calc(var(--header-height) + 2rem);
		&__toggle,
		&__close {
			display: none;
		}
		&__list {
			flex-direction: row;
			column-gap: 4rem;
		}
	}
}
