.recipe {
	overflow: hidden;
	&__container {
		grid-template-columns: 0.5fr 0.1fr;
		column-gap: 3rem;
		padding-bottom: 2rem;
	}

	&__image {
		position: relative;
		display: grid;
		place-items: center;
	}

	&__img {
		position: absolute;
		max-width: initial;
		width: 200px;
		left: -6rem;
		filter: var(--shadow-big-img);
	}

	&__data {
		display: grid;
		row-gap: 2rem;
	}

	&__card {
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
		&:nth-child(even) .recipe__box {
			order: 1;
		}
	}

	&__box {
		width: 60px;
		height: 60px;
		flex-shrink: 0;
		background-color: var(--first-color);
		border: 3px solid var(--container-color);
		border-radius: 0.75rem;
		display: grid;
		place-items: center;
		img {
			width: 50px;
			filter: var(--shadow-small-img);
		}
	}

	&__title {
		font-size: var(--normal-font-size);
		margin-bottom: 0.5rem;
	}

	&__description {
		font-size: var(--small-font-size);
	}
}

@media screen and (max-width: 330px) {
	.recipe {
		&__container {
			column-gap: 5rem;
		}
		&__img {
			left: -7rem;
		}
	}
}

@media screen and (min-width: 540px) {
	.recipe {
		&__container {
			grid-template-columns: 200px 230px;
			justify-content: center;
			column-gap: 3rem;
		}
		&__img {
			position: initial;
		}
	}
}

@media screen and (min-width: 1150px) {
	.recipe {
		&__container {
			grid-template-columns: 350px 300px;
			column-gap: 8rem;
			padding-bottom: 3rem;
		}
		&__img {
			width: 350px;
		}
		&__card {
			column-gap: 1rem;
		}
		&__box {
			width: 100px;
			height: 100px;
			border-radius: 1.25rem;
			border-width: 5px;
			img {
				width: 85px;
			}
		}
		&__title {
			font-size: var(--h3-font-size);
		}
		&__description {
			font-size: var(--normal-font-size);
		}
	}
}
